.remotion-player {
  position: relative !important;
  width: 100% !important;
  height: 100% !important;
}

.remotion-player-main {
  width: 100% !important;
  height: 100% !important;
}

.remotion-player canvas {
  width: 100% !important;
  height: 100% !important;
} 